/* body {
  min-height: 2000px;
} */

section {
  padding-top: 5rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

.gallery-img {
  width: 100%;
}

/* apapun yang di dalamnya setelah row */
#gallery .row > * {
  padding: 0;
}
